.landing {

    .banner {
        padding: 60px 0px;
        background: linear-gradient(45deg, #F27C38, transparent), url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Personas_con_trajes_tradicionales_y_m%C3%A0scaras_de_madera_en_el_Festival_%22Xantolo%22_2013..JPG);
        background-size: cover;
        background-repeat: no-repeat;

        p {
            margin: 0;
        }

        h1 {
            font-size: 5rem;
            font-weight: bold;
        }

        .countdown {
            display: grid;
            grid-template-columns: repeat(4, 100px [col-start]);
            grid-column-gap: 18px;


            div {
                text-align: center;
                padding: 10px;
                border: 1px solid #F24738;
                border-bottom: 6px solid #F24738;
                background: rgba(242, 71, 56, 0.05);

                p {
                    margin: 0;
                    font-size: 14px;

                    &.number {
                        font-size: 30px;
                    }
                }
            }

            @media (max-width: 400px) {
                grid-template-columns: repeat(4, 60px [col-start]);

                p {
                    font-size: 10px !important;

                    &.number {
                        font-size: 20px !important;
                    }
                }
            }

        }
    }

    .sponsors {
        background: rgba(255, 255, 255, 0.05);
        padding: 35px 20px;
    }
}