.landing {
  display: flex;
  padding-top: 20px;
  height: calc(100vh - 80px);

  .side {
    border-radius: 10px 0px 0px 10px;
    background: #edc157;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.2)),
      url(/images/cover.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 15px;

    .countdown {
      background: rgba(171, 129, 23, 0.75);
      display: grid;
      grid-template-columns: repeat(4, 25%);
      padding: 10px 4px;
      border-radius: 4px;
      line-height: 24px;

      p {
        &.number {
          font-size: 28px;
        }
        margin: 0px;
      }
    }

    .social-networks {
      text-align: center;
      margin-top: 10px;

      a,
      a:hover,
      a:visited,
      a:active {
        background: transparent;
        margin-left: 10px;

        i {
          font-size: 40px;
        }
      }
    }
  }

  .content {
    background: #ffffff;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    max-height: calc(100vh - 100px);
    overflow-x: scroll;
    color: $primary;

    h2 {
      color: $black;
    }

    .relevant-date {
      .card-body {
        display: grid;
        grid-template-columns: 50px auto;

        .date {
          text-align: center;

          p {
            margin: 0;
            font-size: 28px;
            line-height: 22px;

            small {
              font-size: 14px;
            }
          }
        }

        .detail {
          padding-left: 1rem;
        }
      }
    }
  }

  @media (max-width: 575.9px) {
    padding-top: 0px;
    .side {
      border-radius: 0px;
    }

    .content {
      border-radius: 0px;
      max-height: max-content;
    }
  }
}
