.landing {

    .banner {
        padding: 60px 0px;
        padding-top: calc(70vh - 116px);
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(/images/cover.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100vh - 56px);

        div.title {
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.5);
            width: fit-content;

            h1 {
                font-size: 5rem;
                font-weight: bold;
                color: rgba(38, 2, 115, 0.9);
                text-shadow: 2px 2px #fff;
                width: fit-content;
                padding: 0px 25px;
            }

            h3 {
                color: rgba(38, 2, 115, 0.9);
                width: fit-content;
                padding: 0px 25px;
                padding-top: 15px;
                margin-bottom: 0px;
            }
        }

        p {
            margin: 0;
        }

        .countdown {
            display: grid;
            grid-template-columns: repeat(4, 100px [col-start]);
            grid-column-gap: 18px;

            div {
                text-align: center;
                padding: 10px;
                border: 1px solid rgba(38, 2, 115, 1);
                border-bottom: 6px solid rgba(38, 2, 115, 1);
                background: rgba(255, 255, 255, 0.3);

                p {
                    margin: 0;
                    font-size: 14px;
                    color: rgba(38, 2, 115, 1);
                    font-weight: 600;

                    &.number {
                        font-weight: bold;
                        font-size: 36px;
                        text-shadow: 2px 2px #fff;
                    }
                }
            }
        }

        @media (max-width: 600px) {

            div.title {
                h1 {
                    font-size: 2.9rem;
                }
            }

            .countdown {
                grid-template-columns: repeat(4, 20% [col-start]);

                p {
                    font-size: 10px !important;

                    &.number {
                        font-size: 20px !important;
                    }
                }
            }
        }
    }

    .places {
        .card {
            img {
                min-height: 170px;
            }
        }
    }

    .sponsors {
        background: rgba(255, 255, 255, 0.05);
        padding: 35px 20px;
    }
}